h1 {
	color: teal;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

img {
	max-width: 35%;
}

@media (max-width: 650) {
	img {
		min-width: 550px;
	}
}
